body{
    margin: 0;
    background-color: black;
    
}
a{
  text-decoration: none;  
}

h1{
    text-align: center;
    background-color: blueviolet;
}
p{
    color: white;
background-color: aqua;
}








footer p {
    text-align: center;
}